<section class="mainCont">
    <main class="section">
        {{>profile}}
    </main>
    <h1>Products</h1>
    <main class="section">
        {{#each products}}
        <div class="card cardFront">
            <img src="https://i.pinimg.com/originals/c0/d1/84/c0d184afe02df1b20aab8ea28011507b.jpg" alt="furniture">
            <div class="text">
                <h2>{{this.title}}</h2>
                <p>Price: <strong>{{this.price}}</strong> $</p>
                <button type="button"><a href="http://localhost:8080/products/{{this._id}}">More details</a></button>
            </div>
        </div>
        {{/each}}
    </main>
    </section>
    <div class="pageBtn">
        {{#if hasPrevPage}}
        <a href="/products?page={{prevPage}}">Back</a>
        {{/if}}
        {{#unless hasPrevPage}}
        <p class="disable">Back</p>
        {{/unless}}
        {{#if hasNextPage}}
        <a href="/products?page={{nextPage}}">Next</a>
        {{/if}}
        {{#unless hasNextPage}}
        <p class="disable">Next</p>
        {{/unless}}
        <p>Page {{currentPage}} of {{totalPages}}</p>
    </div>